@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}

body {
    color: white;
    background-color: #202020;
}

/* +++ HEADER | Start +++ */
header {
    width: 100%;
    height: 88px;
    padding: 0 8px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 600;
}
/* +++ HEADER | End +++ */

/* +++ MAIN | Start +++ */
.projects-main {
    width: 100%;
    height: calc(100vh - 88px - 28px);
}

.projects {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.projects__scroll {
    /* Visualization styles */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.project-card {
    position: relative;
    min-width: 216px;
    height: 80%;
    margin: 0 12px;
    scroll-snap-align: center;
}


.project-card__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-card__img-in-focus {
    width: 100%;
    height: 100%;
}

.project-card__img-out-focus {
    width: 100%;
    height: 100%;
}

.project-card__img--url-1 {
    background-image: url('../assets/img/project-mi-blog_large.jpg');
}

.project-card__img--url-2 {
    background-image: url('../assets/img/project-pokedex_mobile.png');
}

.project-card__img--url-3 {
    background-image: url('../assets/img/project-testimonials-grid_mobile.png');
}

.project-card__title {
    position: absolute;
    bottom: 8px;
    left: 8px;
}
/* +++ MAIN | End +++ */

/* +++ FOOTER | Start +++ */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 28px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.2rem;
    opacity: 60%;
}
/* +++ FOOTER | End +++ */

@media (min-width: 800px) {
    .projects {
        justify-content: center;
    }

    .project-card {
        width: 67.5%;
        max-height: 80%;
    }
}

@media (min-width: 1440px) {
    .projects__scroll {
        /* Visualization styles */
        overflow-x: hidden;
    }

    .project-card__img--url-1 {
        background-image: url('../assets/img/project-mi-blog_large.jpg');
    }

    .project-card__img--url-2 {
        background-image: url('../assets/img/project-pokedex_large.png');
    } 

    .project-card__img--url-3 {
        background-image: url('../assets/img/project-testimonials-grid_large.png');
    }
}