*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font-family: ; */
  font-size: 62.5%;
  /* Colors */
  --primary-color:     #202020;
  --secondary-color:   #b0b0b0;
  --font-color:        #3d3d3d;
  --bg-color:          #fff;
  --heading-color:     #4f4f4f;
  --interactive-color: #7916a7;

  /* theme switch */
  --darkmode: 0;
  container-name: root;
  container-type: normal;
}
:root:has(#checkbox:checked) { --darkmode: 1; }

/* [data-theme="dark"] {
  --primary-color:   #f6f6f6;
  --secondary-color: #d1d1d1;
  --font-color:      #fff;
  --bg-color:        #000;
  --heading-color:   #e7e7e7;
} */

body {
  font-size: 1.6rem;
  color: var(--font-color);
  background-color: var(--bg-color);
  color-scheme: light dark;  /* telling the browser the document accept light and dark*/
}

@container root style(--darkmode: 1) {
  body {
    --bg-color:          #333;
    --font-color:        #fff;
    --interactive-color: #8ed28e;
  }
}

a {
  color: var(--interactive-color);
}



/* Style for the theme toggle switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  cursor: pointer;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6cc470;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}