*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Livvic", sans-serif;
  font-size: 62.5%;
  /* Colors */
  --text-color:        #333;
  --bg-color:          #ececec;
  --primary-color:     #235789;
  --secondary-color:   #6e98cf;
  --accent-color:      #2d7ffb;
  --interactive-color: #90c;
  --headline-color:    #fd7;

  /* Theme switch */
  --darkmode: 0;
  container-name: root;
  container-type: normal;
}
:root:has(#colorSchemeId:checked) { --darkmode: 1; }

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  color-scheme: light dark;  /* telling the browser the document accept light and dark*/
}

@container root style(--darkmode: 1) {
  body {
    --text-color:        #ccc;
    --bg-color:          #202020;
    --primary-color:     #75aadb;
    --secondary-color:   #305a91;
    --accent-color:      #0457d2;
    --interactive-color: #8ed28e;
    --headline-color:    #7916A7;

    --bg-color:          #333;
    --text-color:        #fff;
    --interactive-color: #8ed28e;
  }
}

a {
  color: var(--interactive-color);
}



/* Style for the theme toggle switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  cursor: pointer;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6cc470;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}