*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Livvic", sans-serif;
  font-size: 62.5%;
  /* Colors */
  --text-color:        #333;
  --bg-color:          #ececec;
  --primary-color:     #235789;
  --secondary-color:   #6e98cf;
  --accent-color:      #2d7ffb;
  --interactive-color: #90c;
  --headline-color:    #fd7;

  /* Theme switch */
  --darkmode: 0;
  container-name: root;
  container-type: normal;
}
:root:has(#colorSchemeId:checked) { --darkmode: 1; }

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  color-scheme: light dark;  /* telling the browser the document accept light and dark*/
}

@container root style(--darkmode: 1) {
  body {
    --text-color:        #ccc;
    --bg-color:          #202020;
    --primary-color:     #75aadb;
    --secondary-color:   #305a91;
    --accent-color:      #0457d2;
    --interactive-color: #8ed28e;
    --headline-color:    #7916A7;
  }
}

a {
  color: var(--interactive-color);
}

.header {
  position: sticky;
  top: 0;
  padding-block-start: 32px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 12px;
  font-weight: 700;
}
.logo:before {
  content: '';
  width: 64px;
  height: 64px;
  display: inline-block;
  background-image: url('/assets/icon/favicon.ico');
  background-position: center;
  background-repeat: no-repeat;
  margin-inline-end: 8px;
}

.nav-bar {
  width: 100%;
  margin-block-end: 8px;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-menu a {
  text-decoration: none;
}

/* Style for the theme toggle switch */
.theme-switch-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  cursor: pointer;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6cc470;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main {
  padding-inline: 20px;
}

.heading {
  margin-block: 3.2rem;
  text-align: center;
}

.heading h1 {
  font-size: 2.8rem;
}

.presentation {
  max-width: 360px;
  margin-block-end: 3.2rem;
  text-align: justify;
}

.presentation h2 {
  margin-block-end: 1.2rem;
  font-size: 2.0rem;
}

.aside-skills {
  max-width: 360px;
}

.aside-skills h3 {
  margin-block-end: 1.2rem;
  font-size: 1.6rem ;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-end: 3.2rem;
  list-style-type: none;
}

.skill-card {
  max-width: 280px;
  width: 100%;
  margin-block: 8px;
  display: flex;
}

.skill__icon {
  height: 64px;
  width: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.skill__icon--html {
  background-image: url('/assets/icon/skill-icon-html_128px.svg');
}

.skill__icon--css {
  background-image: url('/assets/icon/skill-icon-css_128px.svg');
}

.skill__icon--js {
  background-image: url('/assets/icon/skill-icon-js_128px.svg');
}

.skill__info {
  width: calc(100% - 64px);
  padding-inline-start: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
}

.level-skill {
  width: 100%;
  height: 24px;
  background-color: #ddd;
  border-radius: 12px;
}

.level-progress {
  height: 100%;
  width: 60%;
  border-radius: 12px;
  background: var(--accent-color);
  background: linear-gradient(270deg, var(--accent-color), var(--secondary-color));
  opacity: 1;
  transition: 1s ease 0.3s;
}

@media (width > 525px) {
  .header {
    padding-block-start: 8px;
    flex-direction: row;
  }

  .nav-bar {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    margin-inline-end: 1.2rem;
    justify-content: flex-end;
    column-gap: 1.2rem;
  }

  .theme-switch-wrapper {
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (width > 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }
}